In [1]:
import numpy
import pandas as pd

import physics_functions as pf

In [2]:
dataframe = pd.read_csv('experimental_data.csv')

#Get Total Mass
dataframe["Total Mass"] = dataframe["CO2 Mass (Mco2)"] + 68.7

#Get Friction_u (subject to change cause friction coeffe changes)
dataframe["Friction Coeffe (u)"] = 0.029

#Get Friction Force (Ff)
dataframe["Friction Force (Ff)"] = pf.friction_f(dataframe["Total Mass"], dataframe["Friction Coeffe (u)"])

#Get Force net (Fnet)
dataframe["Fnet"] = pf.force_net(dataframe["Force (N)"], dataframe["Friction Force (Ff)"], dataframe["Drag (FD)"])

#---------------------------------------
#dva Calculations
#Create DataFrame
dva_dataframe = dataframe[["Time (s)", "Total Mass", "Fnet"]]

dva_dataframe

     Time (s)  Total Mass      Fnet
0      7.9543       98.55 -0.033970
1      7.9560       98.55 -0.033970
2      7.9577       98.55 -0.033970
3      7.9594       98.55 -0.033970
4      7.9611       98.55 -0.003575
..        ...         ...       ...
649    9.0576       98.55 -0.271036
650    9.0593       98.55 -0.271036
651    9.0610       98.55 -0.271036
652    9.0627       98.55 -0.271036
653    9.0644       98.55 -0.271036

[654 rows x 3 columns]

In [3]:

for index,row in dva_dataframe.iterrows():
    if row['Fnet'] < 0:
        dva_dataframe = dva_dataframe.drop([index])
    
dva_dataframe

     Time (s)  Total Mass       Fnet
19     7.9866       98.55   1.333809
20     7.9883       98.55   3.613441
21     7.9900       98.55   6.197024
22     7.9917       98.55   9.935620
23     7.9934       98.55  14.342908
..        ...         ...        ...
238    8.3589       98.55   0.148401
239    8.3606       98.55   0.148401
240    8.3623       98.55   0.118005
241    8.3640       98.55   0.057215
242    8.3657       98.55   0.026820

[224 rows x 3 columns]

In [20]:
for index, row in dva_dataframe.iterrows():
    first_row = dva_dataframe.iloc[[0]]
    row['sec'] = row['Time (s)'] - first_row['Time (s)']


    
dva_dataframe

     Time (s)  Total Mass       Fnet     sec
19     7.9866       98.55   1.333809  0.0000
20     7.9883       98.55   3.613441  0.0017
21     7.9900       98.55   6.197024  0.0034
22     7.9917       98.55   9.935620  0.0051
23     7.9934       98.55  14.342908  0.0068
..        ...         ...        ...     ...
238    8.3589       98.55   0.148401  0.3723
239    8.3606       98.55   0.148401  0.3740
240    8.3623       98.55   0.118005  0.3757
241    8.3640       98.55   0.057215  0.3774
242    8.3657       98.55   0.026820  0.3791

[224 rows x 4 columns]