In [36]:
import pandas as pd

In [37]:
schoolregent = pd.read_csv("data/2014_-_2017_Regents_modified.csv")
schoolregent

          dbn  Mean Score
0      01M292        52.3
1      01M292        63.9
2      01M292        67.5
3      01M292        48.0
4      01M292        61.5
...       ...         ...
12165  84X553        69.1
12166  84X553        68.5
12167  84X553        72.8
12168  84X581        69.3
12169  84X581        61.9

[12170 rows x 2 columns]

In [38]:
schoolregent = schoolregent.groupby("dbn", as_index=False)['Mean Score'].mean()

In [39]:
pd.DataFrame(schoolregent)

        dbn  Mean Score
0    01M292   58.903846
1    01M448   66.737143
2    01M458   54.523077
3    01M509   61.266667
4    01M515   76.041935
..      ...         ...
458  84X395   65.061290
459  84X429   66.100000
460  84X539   59.768571
461  84X553   62.448485
462  84X581   65.600000

[463 rows x 2 columns]

In [40]:
schoolregent.to_csv("2014_-_2017_Regents_modified.csv", encoding='utf-8', index=False)